/* 20A4F3 */
:root{
    --blue: #C1292E;
    --black_back: #020202;
    --menucolor: rgb(30,30,30)
}

*{
    padding: 0px;
    margin: 0;
    color: rgb(200,200,200);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    scroll-behavior: smooth;
    --transition-duration: all 0.2s ease;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--black_back);
    /* border-left: rgb(60,60,60) 1px solid; */
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(22,25,22); 
/* border-left: rgb(60,60,60) 1px solid; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(20,22,20); 
}

.body{
    display: flex;
    flex-direction: column;
}

.container{
    background-color: var(--black_back);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.navBarContainer{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(20,23,20);
    z-index: 2;
}

.main{
    display: flex;
    flex-direction: column;
    background-color: var(--black_back);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.navBar{
    height: 8vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.logo{
    flex-basis: 30%;
}

.navMain{
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navItems{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
}

.navItemsLink{
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 6px;
    text-decoration: none;
}

.home{
    color: var(--blue);
    /* background-color: rgba(32,164,243,0.2); */
    background-color: rgba(193, 41, 46, 0.2);
}

.navItemsLink:hover{
    background-color: var(--black_back);
    cursor: pointer;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5%;
}

.logoImg{
    height: 50%;
    width: 10%;
}

.homeMain{
    box-sizing: border-box;
    padding-top: 6%;
    min-height: 95vh;
    position: relative;
    overflow: hidden;
}

.backgroundimg{
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 1;
    width: 120%;
    height: 100%;
    object-fit: contain;
    /* filter: grayscale(100%); */
}

.home1{
    z-index: 1;
    position: relative;
    display: flex;
    width: 50%;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 18%;
}

.hi{
    font-size: 2rem;
    font-weight: 0.8%;
}

.name{
    font-size: 6rem;
    color: var(--blue);
    font-weight: 900;
    /* font-family: 'RocknRoll One', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
}

.what{
    font-size: 2rem;
    margin-top: 3%;
    font-weight: 0.8%;
}


.aboutme{
    min-height: 80vh;
    /* border-top: 1px solid rgb(20,23,20); */
    display: flex;
}

.myimg{
    width: 40%;
    max-height: 80vh;
    box-sizing: border-box;
    padding: 3%;
    overflow: hidden;
}

.meimg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* filter: grayscale(100%); */
}

.about_me{
    width: 60%;
    box-sizing: border-box;
    padding: 8%;
}

.about_descp{
    margin-top: 10%;
    word-wrap: break-word;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.5;
}

.project{
    height: auto;
    /* border-top: 1px solid rgb(20,23,20); */
    display: flex;
    flex-direction: column;
}

#projhead{
    margin-top: 3%;
}

.projects{
    padding-top: 3%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: auto;
    padding-bottom: 8%;
    height: auto;
}

.projitem{
    width: 300px;
    height: 150px;
    border-radius: 8px;
    box-sizing: border-box;
    transition: var(--transition-duration);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.projitem:hover{
    transform: scale(1.05);
}

.pimgs{
    height: 100%;
    width: 100%;
    position: absolute;
}

.pnames{
    position: relative;
    background:linear-gradient(rgba(240, 118, 118, 0.95), rgba(193, 41, 46 ,0.95)) ;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactMain{
    box-sizing: border-box;
    min-height: 90vh;
    border-top: 1px solid rgb(20,23,20);
    display: flex;
    padding: 8% 0 8% 0;
}

.contact-left{
    width: 45%;
    box-sizing: border-box;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.contact-me{
    height: 5%;
    font-size: 1.5rem;
    box-sizing: border-box;
    margin-bottom: 20%;
    font-weight: 600;
}

#cont{
    color: var(--blue);
}

.cimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img{
    height: 90%;
    width: 90%;
}

.contact-body{
    width: 55%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.smallinp{
    height: 20%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.inp{
    background-color: rgb(150,150,150);
    outline: none;
    border: none;
    height: 45px;
    border-radius: 8px;
    color: black;
    box-sizing: border-box;
    padding: 0 8px 0 8px;
}

.biginp{
    height: 40%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: 4%;
}

.text{
    background-color: rgb(150,150,150);
    padding: 4px;
    resize: none;
    outline: none;
    border: none;
    height: 200px;
    border-radius: 8px;
    color: black;
    box-sizing: border-box;
}

.cont-label{
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

.icons{
    margin-right: 1%;
}

.sendmssg{
    border: none;
    outline: none;
    border-radius: 8px;
    /* background-color: rgba(32,164,243,0.7); */
    background-color: rgba(193, 41, 46);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 1rem;
    /* color: #020202; */
    color: FEFEFE;
    font-weight: 700;
}

.footer{
    background-color: rgb(20,23,20);
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none !important;
}

.popup{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(2,2,2,0.9);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupwindow{
    background-color: rgba(11,11,11,0.90);
    width: 60vw;
    height: 70vh;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: auto;
    padding: 0 2% 2% 2%;
    border: 1px solid rgb(20,23,20);
    box-sizing: border-box;
}

.closepop{
    margin-top: 1%;
    height: 5vh;
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row-reverse;
}

.popcls{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 40%;
    padding: 1%; 
    border: 2px solid rgb(200,200,200);
    cursor: pointer;
}

.popimgdiv{
    width: 100%;
    height: 95%;
    overflow: hidden;
    margin-bottom: 5%;
}

.popimg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.popdescp{
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

.pprojhead{
    margin-bottom: 2%;
}

.projdes{
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 3%;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(20,23,20);
}

.projtools{
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2vh;
}

.tool{
    margin-right: 2%;
    margin-bottom: 2%;
    height: 5vh;
    width: auto;
    padding: 0 1% 0 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgb(25,28,25);
    box-sizing: border-box;
    background-color: rgb(15,15,15);
}

.knowmore{
    margin-top: 4%;
    margin-bottom: 4%;
    height: 5vh;
    width: 25%;
    border-radius: 8px;
    background-color: var(--blue);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 1% 2% 1% 2%;
    text-decoration: none;
}

.phonenavmain{
    display: none;
}

.knowmore:hover{
    background-color: rgba(193, 41, 46, 0.2);
}

@media only screen and (max-width: 600px) {

.navBar{
    width: 100vw !important;
}

.main{
    max-width: 100vw !important;
}

.backgroundimg{
    display: none;
}

.homeMain{
    display: flex;
    justify-content: center;
    padding-top: 50% !important;
    background-image: url("../assets/back.PNG");
    background-repeat: no-repeat;
    background-position: center;
}

.home1{
    height: 100%;
    width: 100%;
}

.name{
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hi{
    display: flex;
    align-items: center;
    justify-content: center;
}

.what{
    display: flex;
    align-items: center;
    justify-content: center;
}

.myimg{
    display: none;
}

.aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.about_me{
    width: 100%;
    height: 100%;
}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.projects{
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
}

.projitem{
    width: 350px;
    height: 150px;
}

#projhead{
    margin-bottom: 2%;
}

.cimg{
    display: none;
}

.contactMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    padding-left: 36px;
    padding-right: 36px;
}

.contact-me{
    display: flex;
    align-items: center;
    justify-content: center;
}

#cont{
    margin-right: 1%;
}

.contact-left{
    width: 100%;
    height: 10%;
}

.contact-body{
    width: 100%;
    display: flex;
    align-items: center;
}

.smallinp{
    width: 100%;
    margin-bottom: 5%;
}

.biginp{
    width: 100%;
    margin-bottom: 10%;
}

.sendmssg{
    width: 100%;
}

.popdescp{
    margin-top: 5vh;
}

.popimgdiv{
    height: 50%;
}

.pprojhead{
    font-size: 1.2rem;
}

.projdes{
    font-size: 0.9rem;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 6%;
}

.projtools{
    margin-bottom: 5vh;
}

.tool{
    margin-right: 3%;
    margin-bottom: 3%;
    height: 4vh;
    font-size: 0.9rem;
    padding: 2% 3% 2% 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.knowmore{
    font-size: 0.9rem;
    padding: 2% 3% 2% 3%;
}

.popupwindow{
    height: 100%;
    width: 100%;
}

.logo{
    display: none;
}

.navBar{
    flex-direction: column;
    align-items: center;
}

.navMain{
    flex-direction: column;
    background-color: var(--menucolor);
    width: 90%;
    margin-top: 2%;
}

.navMain:before {
    content: '';
    position: absolute;
    right: 8vw;
    top: 7vh;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid var(--menucolor);

}

.navItems > .home{
    display: none;
}

.phonenavmain{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 8vh;
    align-items: center;
    padding: 0 5% 0 5%;
}

.navItemsLink:hover{
    background-color: transparent;
}

.nav1{
    width: 50%;
}

.nav2{
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: row-reverse;
}

.menu{
    width: 10vw;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 80%;
    height: 9%;
    background-color: rgb(200,200,200);
    margin: 14% 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 4px);
    transform: rotate(-45deg) translate(-9px, 4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -5px);
    transform: rotate(45deg) translate(-8px, -5px);
}

.hidemenu{
    display: none;
}

}